/*------------------------------------*\
  RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE:WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
}
ol,ul{
  list-style:none;
}
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:'';
  content:none;
}
/* remember to define visible focus styles!
:focus{
  outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}


/* FANCY EXPERIMENTAL CSS */
{
text-rendering: optimizeLegibility;
}

/*------------------------------------*\
  MAIN
\*------------------------------------*/
/* GO! */
/* disapear stuff */
#coordinates, #p-gigyaapplet, #p-sharethis, #p-, #p-navigation, #p-interaction, #p-feedback, #p-search, #donate, #p-lang, #anontip, #anon-banner, #mp-banner, #filetoc, #No_article_title_matches, #msg-noexactmatch,#mp-strapline, #footer, #siteSub, #p-search, #p-navigation, #p-logo, #p-interaction, #p-tb, #p-lang, #p-scholarpedia, #p-encyclopedias, #f-list, #f-poweredbyico, #f-copyrightico, #mw_header, #siteNotice, #mr_banner, #mr_banner_topad, #mr_header, #guides, #background_strip, #wikia_header, #widget_sidebar, #monaco_footer, #LEFT_SKYSCRAPER_2_load, #LEFT_SKYSCRAPER_3_load, #LEFT_SKYSCRAPER_1_load, #TOP_RIGHT_BOXAD_load, #page_bar, #google_ads_div_LEFT_SPOTLIGHT_1, #ads, #mw-panel, #mw-head, #mw-page-base,#mw-head-base, .portlet h5, .hiddeninputs, .metadata, .centralauth-login-box, .generated-sidebar, .mbox-image, .floatleft, .floatright {
display: none !important;
}

/* beta wikipedia stuff */
#vectorTabs, #p-coll-create_a_book {
dislay: none;
}

/* LAYOUT */
#wrapper{
    position:absolute; 
    left:50%; 
    top: 0px; 
    width: 850px; 
    height: 100%; 
    margin-left: -425px; 
}

#navigation {
    position: absolute; 
    top: 0px; 
    width: 150px; 
    background:#fff;
    text-align: left;
    height: 100%;
    top: 7.25em;
}

#microblog {
    position: absolute; 
    right: 0px; 
    width: 200px; 
    height: 100%;
    top: 4.5em;
    }

#microblog p {
padding-top: .75em;
}

#navigation p, #microblog p, #microblog blockquote, #microblog ul, #microblog ol, #microblog li{
    font-size: .85em; 
}

#content
{
    position: absolute;
    width: 400px;
    height: 100%;
    left: 200px;
    top: 2.75em;
}

#content img
{
    width: 80%;
}

#search
{
    text-align: center;
    padding-top: 20px;
}
.title {
    color: #000 !important;
    font-style: normal !important;
}

.small-print {
    padding-top: 5px;
    color: #333;
    padding-bottom: 30px;
    line-height: 1.5em;
}

.googlenav {
    display: inline;
}
#googlenav {
    text-align: center;
}

body
{
    color: #000;
    background-color: white;
    font-family: georgia,sans-serif;
    font-size: 13px;
    line-height: 1.5;
}

a:link, a:visited, a:active
{
    text-decoration: none;
    /* color: http://en.wikipedia.org/wiki/Electric_blue_(color) ; */
    color: #0892D0;
    font-style: italic;
}

.comment{
padding-bottom: 2em;
line-height: 1.5;
}

.txpCommentInputMessage, .comment_web_input, .comment_email_input, .comment_name_input, .searchinput {
padding: 1px;
}

.trajan {
    font-family: 'Trajan Pro', Trajan, 'Times New Roman';
}

.console { 
    font-family: 'Droid Sans Mono', 'Lucida Console', monospace;
    
}

.prompt {
    color: #0892D0;
}
.fancy
{
    font-style: italic;
    color: #666;
}

a:hover
{
    color: #000;
    -webkit-transition: color .25s linear;
    transition: color .25s linear;
}

a:active:
{
    color: #000;
}

pre
{
    width: 400px;
    overflow: auto;
}

code 
{
    display: inline;
    color: #333;
    background-color: #fff;
    font: monospace;
}

p {
    line-height: 1.5;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

/* Paragraph indenting */
#content p, .post, br + br {
   text-indent:1em;
    margin-top: 0 
}

#microblog p + p, #navigation p + p, h1 + p, h2 + p, h3 + p, h4 + p, blockquote + p, hr + p, ul + p, ol + p, img + p + p, div { 
text-indent: 0 !important;
}

/* Style guide */
h1, h2, h3, h4, h5, h1 a, h2 a, h3 a
{
    color: #000;
    font-weight: normal;
    text-align: center;
}


h1
{
    font-size: 2.25em;
}

h2
{
    font-size: 1.5em;
}

h3
{
    font-size: 1.125em;
}

h4
{
font-size: 1em;
line-height: 2.5;
}


hr {border: none;
}

blockquote
{
    margin: 1.5em;
font-style: italic;
line-height: 1.5;

}

sup,
sub {
    height: 0;
    line-height: 1;
    vertical-align: baseline;
    _vertical-align: bottom;
    position: relative;
    
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

.posted {
text-align: right !important;
font-style: italic;
margin-top: -.75em;
}



#navigation ul, #navigation ol, .titles, .postul
{
    list-style-type: none;
}

li + li {
padding-top: .5em;
}

li {
margin-left: 2em;
}

ol, ul {
padding-top: 2em;
padding-bottom: 2em;
}

del
{
    color: #999;
}

.pages_nav
{
    clear: both;
}

.previewpost
{
    border-left: 20px solid #781600;
    background-color: #fff;
    color: #000;
}
.imred
{
    color: #c90130;
    font-weight: bold;
}

.imgreen
{
    color: #7da323;
    font-weight: bold;
}

.imblue
{
    color: #00a7d2;
    font-weight: bold;
}

.console
{
    font: 11px 'Andale Mono', 'Lucida Console', courier, 'times new roman';
}

