    <h2>Sample Text</h2>

<div class="thumb tright"> 
<div class="thumbinner" style="width:352px;"><a href="#" class="image"><img alt="" src="img/350px-Web_Page.png" width="350" height="208" class="thumbimage" /></a> 
<div class="thumbcaption"> 
<div class="magnify"><a href="#" class="internal" title="Enlarge"><img src="http://bits.wikimedia.org/skins-1.17/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div> 
A <a href="#">screenshot</a> of a web page on <a href="#">Wikipedia</a></div> 
</div> 
</div> 
<p>A <b>web page</b> or <b>webpage</b> is a <a href="#">document</a> or information <a href="#" title="Resource (Web)">resource</a> that is suitable for the <a href="#">World Wide Web</a> and can be accessed through a <a href="#">web browser</a> and displayed on a <a href="#" title="Computer display" class="mw-redirect">monitor</a> or <a href="#">mobile device</a>. This information is usually in <a href="#">HTML</a> or <a href="#">XHTML</a> format, and may provide <a href="#" title="Navigation bar">navigation</a> to other web pages via <a href="#">hypertext</a> <a href="#" title="Hyperlink">links</a>. Web pages frequently subsume other resources such as <a href="#" title="Cascading Style Sheet" class="mw-redirect">style sheets</a>, <a href="#" title="Client-side scripting">scripts</a> and <a href="#">images</a> into their final presentation.</p> 
<p>Web pages may be retrieved from a local computer or from a remote <a href="#">web server</a>. The web server may restrict access only to a private network, e.g. a corporate <a href="#">intranet</a>, or it may publish pages on the World Wide Web. Web pages are requested and served from web <a href="#" title="Server (computing)">servers</a> using <a href="#">Hypertext Transfer Protocol</a> (HTTP).</p> 
<p>Web pages may consist of files of static text and other <a href="#" title="Web content">content</a> stored within the <a href="#">web server</a>'s file system (<a href="#" title="Static Web page" class="mw-redirect">static web pages</a>), or may be constructed by <a href="#" title="Server-side scripting">server-side software</a> when they are requested (<a href="#" title="Dynamic web page">dynamic web pages</a>). <a href="#">Client-side scripting</a> can make web pages more responsive to user input once on the client browser.</p> 
