html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
font:inherit;
vertical-align:baseline
}

title,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block
}

body {
line-height:1.5;
font-size:1.25em
}

ol,ul {
text-align:left;
list-style:disc;
margin:1em 1em 1em 0
}

b {
font-weight:700
}

i,em {
font-style:italic
}

br {
clear:left
}

blockquote,q {
quotes:none
}

blockquote:before,blockquote:after,q:before,q:after {
content:'';
content:none
}

ins {
text-decoration:none
}

del {
text-decoration:line-through
}

table {
border-collapse:collapse;
border-spacing:0
}

th,td {
padding:.25em;
text-align:left
}

th, {
text-decoration:underline
}

br {
clear:left
}

blockquote,q {
quotes:none
}

blockquote:before,blockquote:after,q:before,q:after {
content:'';
content:none
}

abbr {
letter-spacing:.1em;
text-transform:lowercase;
font-variant:small-caps;
font-style:normal
}

ins {
text-decoration:none
}

del {
text-decoration:line-through
}

table {
border-collapse:collapse;
border-spacing:0
}

p,p,blockquote,ul,ol,li {
text-align:left;
-webkit-hyphens:auto
}

p {
line-height:1.5;
margin-top:1.5em;
margin-bottom:0
}

p + p,p,.post,br + br {
text-indent:1.5em;
margin:0
}

dd {
margin-left:2em;
line-height:1.5
}

dt {
font-weight:700
}

dl + p,table + p,span + p,div + p,h1 + p,h2 + p,h3 + p,h4 + p,blockquote + p,hr + p,ul + p,ol + p,img + p + p,div {
text-indent:0
}

label {
float:left;
clear:left;
width:200px;
text-align:right;
margin-right:.5em
}

img {
vertical-align:middle
}

.thumbcaption {
font-size:.85em
}

.tleft {
float:left;
margin:1.5em 1.5em 0
}

.tright {
float:right;
margin:1.5em 0 1.5em 1.5em
}

a:link,a:visited,a:active,a:hover,a:-webkit-any-link {
text-decoration:none;
font-style:italic
}

a:active: {
color:#000
}

pre {
overflow:auto
}

hr {
border:none
}

blockquote,dl {
margin:1.25em;
font-style:italic;
line-height:1.5
}

sup,sub {
height:0;
line-height:1;
vertical-align:baseline;
position:relative;
font-size:.7em
}

sup {
bottom:2ex
}

sub {
top:2ex
}

code {
display:inline;
font:monospace
}

h1,h2,h3,h4,h5,h1 a,h2 a,h3 a {
font-weight:bolder;
text-align:center;
line-height:2
}

h1 {
font-size:2.25em
}

h2 {
font-size:1.5em
}

h3 {
font-size:1.125em
}

h4 {
font-size:.875em
}

#content {
width:800px;
margin:0 auto
}

.infobox {
float:right;
width:300px;
margin:0 0 1.5em 1.5em
}

.infobox,.infobox p,.infobox th,.infobox td,.infobox,.thumbcaption,.caption {
font-size:.85em;
text-align:center
}

#contentSub,.dablink,.rellink,.relarticle,.mainarticle,.plainlinks,.metadata,.ambox,.ambox-content,.mbox-text {
font-size:.8em;
float:clear;
text-align:center;
text-indent:none
}

a.editsection,h2 .edisection,.editsection,.editsection a:link,.editsection a:visited,.editsection a:active,.navbox {
display:none;
float:right;
text-size:.8em
}

#toc {
display:none
}

#floatingsearch {
display:none
}

#link_color,#unwritten_color,#stub_color,#text_color,#headings_color,#bg_color,#hover_color,#active_color,#visited_color {
width:125px;
padding:0;
margin:0;
vertical-align:baseline
}

#status {
height:2em;
display:block;
text-align:right
}

#status p,#status em {
margin:0;
padding:0
}

#cancel,#save {
float:right
}

#restore_defaults {
float:left
}

.front {
text-align:center;
vertical-align:middle
}

title.front {
font-size:8em;
color:#000;
font-weight:700;
font-style:normal;
margin-top:.5em;
margin-bottom:.05em
}

.front input[type="search"] {
width:534px
}

.frontSearchBar, {
text-align:center;
vertical-align:center;
background-color:transparent;
color:#000
}

#searchform,#random-article {
display:inline;
text-align:center
}
