html, body {
background-color:#FFF !important;
margin-bottom:0px !important;
padding:0px !important;
height :100%;
font-family: transparent;
font-size: 13px;
text-rendering: optimizeLegibility;
}

p {
color: #000 !important; 
font-size: .85em;
line-height: 1.4;
background-image: none;
}

span, div {
border: none !important;
font-size: transparent !important;
line-height: transparent !important;
background-color: transparent !important;
color: transparent !important!;
padding: transparent !important;
margin: transparent !important;
}

.toctext:hover, toclevel-1:hover, .toclinks:hover, a:hover {
color: #000 !important;
text-decoration: none !important;
}

a:active {
color: #000 !important;
}

b, strong { 
color: #000;
text-shadow: 0 1px 0 #fff !important;
}

big, h1, h2, h3, h4, h5 {
background-image: none !important;
background-color: transparent !important;
-webkit-background-clip: none !important;
-webkit-background-origin: none !important;
font-weight: bold !important;
color: #000 !important;
border: none !important;
text-shadow: 0 1px 0 #fff !important;
}

h1 {
font-size: 2.25em !important;
}

h2 {
font-size: 1.5em !important;
}

h3 {
font-size: 1.125em !important;
}

h4 {
    font-size: .875em !important;
}

li, p, ul, blockquote {
padding: 5px !important;
color: #000 !important;
background-color: transparent;
font-size: 12px !important;
}

ul, ul li {
list-style-image: none !important;
list-style-type: disc !important;
list-style-position: outside !important;
}

table{
margin: 0px !important;
padding: 6px !important;
color: #000;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: none !important;
}

th, tr, td, .thumbinner, .image {
background-color: transparent !important;
color: #000!important;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border-color: #fff !important;
padding: 0px !important;
margin: 0px !important;
border-collapse: transparent !important;
}

ol {
list-style-type: decimal !important;
list-style-position: outside !important;
}

.selected, pre {
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #eaeaea !important;
}

sup, .reference {
font-size: 9px !important;
color: #666 !important;
}

fieldset {
-moz-border-radius: px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #eaeaea !important;
}

.logotype, a.logotype:link, a.logotype:visited, a.logotype:active {
font-weight: bold !important;
}

#logotype {
margin-top: 180px;
}

#logotype, #globeLogo, #front_search_bar{
width: 100%;
text-align: center;
}

#frontlogo {
font-size: 20px !important;
color: #000 !important;
font-weight: bold !important;
underline: none !important;
padding-bottom: 5px;
}

#frontsearchInput {
width: 240px;
}

#frontsearchbar {
z-index: 10000;
height: 100%;
background-color: transparent !important;
color: black;
text-align: center;
}

#front-search, #random-article {
display: inline !important;
}

#globalWrapper {
position: absolute;
left: 0px;
top: 0px;
z-index: 50;
border: none;
margin: 0px !important;
padding: 0px !important;
}

#content {
width: 550px !impotant;
margin: 0px !important;
padding: 0px !important;
top: 0px !important;
position: absolute !important;
background-image: none !important;
background-color: #fff !important;
}

#bodyContent {
width: auto !important;
margin: 20px !important;
}

#column-one, #column-content {
margin: 0px !important;
}

#contentSub {
margin: 0px !important;
padding: 0px !important;
}

#firstHeading {
margin-top: 15px !important;
margin-left: 15px !important;
margin-bottom: 0px !important;
}
#mp-topbanner, #mp-topbanner table, #mp-topbanner tr, #mp-topbanner td, #mp-topbanner th, #mp-topbanner tbody {
background-color: #fff !important;
}

h2 .edisection, .editsection, .editsection a:link, .editsection a:visited, .editsection a:active {
font-size: 9px !important;
color: #ddd !important;
font-weight: normal !important;
}

h2 .editsection:hover, .editsection  a:hover {
color: #000 !important;
text-decoration: none !important;
}

.smallcaps {
font-variant: small-caps !important;
font-size: 70%;
color: #0892D0 !important;
}

span, .noprint, .plainlinks, .navbar, .relarticle, .mainarticle {
color: #000 !important;
background-color: transparent !important;
}

.toclevel-1, .toclevel-2, .toclevel-3, .toclevel-4 {
list-style: none !important;
}
.topicon,#featured-star,  #protected-icon, #protected-icon div, #speak-icon, #spoken-icon, #spoken-icon div {
display : none !important;
}

.dablink {
margin: 0px !important;
padding-top: 0px !important;
padding-left: 20px !important;
font-size: 11px !important;
color: #666 !important;
font-weight: bold !important;
text-shadow: 0 1px 0 #fff !important;
}

.printfooter {
padding-top: 10px !important;
}

#edit-ul {
position: relative;
float: right;
margin: 0px;
}

#p-cactcions, #ca-nstab-citations, #ca-nstab-citations a, #ca-move, #ca-move a, #ca-nstab-portal, #ca-nstab-portal a, #ca-nstab-main, #ca-nstab-main a, #ca-nstab-special, #ca-nstab-special a, #ca-nstab-category, #ca-nstab-category a, #ca-nstab-help, #ca-nstab-help a, #ca-nstab-user, #ca-nstab-user a, #ca-talk, #ca-talk a, #ca-edit, #ca-history, #ca-history a, #ca-addsection, #ca-addsection a, #ca-watch, #ca-watch a, #ca-viewsource, #ca-viewsource a, #ca-nstab-project, #ca-nstab-project a, #ca-nstab-image, #ca-nstab-image a{
font-size: smaller !important;
z-index: 1500;
color: #ddd !important;
border: none !important;
text-align: left !important;
margin: 0px !important;
position: relative !important;
background-color: transparent !important;
font-weight: normal !important;
padding-top: 0px !important;
}

#ca-nstab-main a:hover, #ca-nstab-special a:hover, #ca-nstab-category a:hover, #ca-nstab-help a:hover,#ca-nstab-user a:hover, #ca-talk a:hover, #ca-history a:hover, #ca-addsection a:hover, #ca-watch a:hover, #ca-viewsource a:hover, #ca-nstab-project a:hover  {
color: #000 !important;
text-decoration: none !important;
}

#p-cactions li a, #p-cactions li.selected, #content div.thumb {
background-color: transparent!important;
}

#p-cactions {
left: transparent !important;
top: 55px !important;
right: 5px !important;
}

.portlet {
padding: 0px !important;
margin: 0px !important;
}

#p-personal {
position: absolute !important;
top: 0px;
right: 20px;
font-size: smaller !important;
margin-right: 20px !important;
z-index: 1500;
}

#pt-login, #pt-login a {
font-size: smaller !important;
color: #ddd !important;
position: relative;
float: right;
margin-right: 10px;

}

#pt-login a:hover {
color: #000 !important;
text-decoration: none !important;
}

#pt-userpage a:link, #pt-mytalk a:link, #pt-preferences a:link, #pt-watchlist a:link, #pt-mycontris a:link, #pt-logout a:link {
color: #ddd !important;
}
#pt-userpage a:hover, #pt-mytalk a:hover, #pt-preferences a:hover, #pt-watchlist a:hover, #pt-mycontris a:hover, #pt-logout a:hover {
color: #000 !important;
text-decoration: none !important;
}

/* wikipedia beta */
#pt-betafeedback a:link, #pt-acaibeta a:link {
color #ddd !important;
}
#pt-betafeedback a:hover, #pt-acaibeta a:hover {
color: #000 !important;
text-decoration: none !important;
}

.pBody {
padding-right: 20px !important;
}
.pBody {
}
#p-personal li{
background-image: none !important;
}

#preftoc li {
border-right: none !important;
list-style-type: none !important;
background-color: transparent !important;
}

.toccolours,table.navbox th,.navbox-title,.navbox-subgroup .navbox-title,.navbox-abovebelow, .navbox-group, #toc, .nowraplinks, .collapsible, .autocollapse, #catlinks, .printfooter, .ambox, .ambox-content, .infobox, .geography, .vcard, .thumb, .tright, .mbox-text {
margin: 5px !important;
color: #000;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #eaeaea !important;
background-color: transparent !important;
}

tr, th, td, tbody, .toclevel-1, .toclevel-2, .toclevel-3 {
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #fff !important;
border-collapse: transparent !important;
margin: 0px !important;
background-color: transparent !important;
}

.toc:link, #toc:link, th:link, td:link, tbody:link {
    border: none !imporant;
}

th:hover, td:hover, tbody:hover{
background-color: #eee !important;
border-color: #000 !important;
border-width: 1px !important;
} 
.thumbcaption {
font-size: 9px !important;
}

.thumb:hover, .thumbcaption:hover, .thumbinner:hover{
background-color: #eee !important;
border-color: #ddd !important;
}


th:hover, td:hover, tbody:hover, .thumb:hover, .thumbcaption:hover, .thumbinner:hover{
background-color: #eee !important;
border-color: #ddd !important;
}

#toc ul:hover li, #toc ul:hover, #toc li:hover, .toclevel-1:hover, .toclevel-2:hover, .toclevel-3:hover {
background-color: #eee !important;
border-color: #eee !important;
}

.wikitable, .prettytable {
margin: 0px 0px 0px 0px;
color: #000;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #eaeaea !important;
}

td table {
width: auto !important;
background-color: transparent !important;
}

#p-search { 
display: block !important;
position: absolute;
top: 20px;
right: 10px;
visibility: visible;
z-index: 1000;
background-color: transparent;
height: 500px;
color: #000;
}

#langJump{
z-index: 100; 
position: absolute; 
top: 20px; 
right: 220px;
}

#floatingsearch{
z-index: 100;
border: none;
position: absolute;
top: 15px;
right: 20px;
}

#mp-upper, #mp-upper table, #mp-upper td, #mp-upper tr, #mp-upper th, #mp-upper tbody {
z-index: 0 !important;
margin-top: 100px;
background-color: #fff !important;
border: none !important;
}

#mp-newhead {
margin-top: 10px;
margin-bottom: 0.1em;
line-height: 2.0em;
}

#mpheader {
z-index: 100 !important;
width: 500px !important;
height: 100px;
}

.mp-header {
font-weight: normal !important;
font-size: 200% !important; 
}

tbody, .MainPageBG, #mp-left, #mp-tfa-h2, #mp-tfa, #mp-dyk-h2, #mp-dyk, #mp-right, #mp-itn-h2, mp-itn, #mp-otd-h2, #mp-otd, #mp-tfp, #mp-tfp-h2, #mp-other, #mp-sister, #mp-lang, #jump-to-nav, #mp-strapline, #mp-banner, #mp-upper {
background-image: none !important;
background-color: transparent !important;
color: #000!important;
border: none !important;
}

#mp-left, #mp-right {
margin-top: 80px;
}

#mp-upper img, #mp-tfa img, #mp-left img, #mp-right img {
color: #000!important;
border: none !important;
padding: 10px !important;
margin: 10px !important;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #eaeaea !important;
}

#mp-upper img:hover, #mp-tfa img:hover, #mp-left img:hover, #mp-right img:hover {
background-color: #eee !important;
border-color: #ddd !important;
}

#mp-tfp-h2, .mw-headline{
color: #000!important;
background-color: transparent!important; 
font-weight: bold !important; 
}

.mp-left .image { 
border: 1px solid #f00;
}

.MainPageBG, .MainPageBG tbody, .MainPageBG table, .MainPageBG td, .MainPageBG tr, .MainPageBG th {
background-color: #fff !important;
color: #000 !important;
border: none !important;
}


.mergedrow, .floatnone, #searchBody {
border: none !important;
text-align: left !important;
}

h5#p-search {
display: inline;
}


#artikelstadium {
position: absolute !important;
left: 30px !important;
top: 60px !important;
background-color: transparent!important;
width: 15px;
display: inline !important;
}

#mw-panel, #mw-head, #mw-page-base,#mw-head-base, .portlet h5, .hiddeninputs, .metadata, .centralauth-login-box, .generated-sidebar, .mbox-image, .floatleft, .floatright {
display: none !important;
}

#coordinates, #p-gigyaapplet, #p-sharethis, #p-, #p-navigation, #p-interaction, #p-feedback, #p-search, #donate, #p-lang, #anontip, #anon-banner, #mp-banner, #filetoc, #No_article_title_matches, #msg-noexactmatch,#mp-strapline, #footer, #siteSub, #p-search, #p-navigation, #p-logo, #p-interaction, #p-tb, #p-lang, #p-scholarpedia, #p-encyclopedias, #f-list, #f-poweredbyico, #f-copyrightico, #mw_header, #siteNotice, #mr_banner, #mr_banner_topad, #mr_header, #guides, #background_strip, #wikia_header, #widget_sidebar, #monaco_footer, #LEFT_SKYSCRAPER_2_load, #LEFT_SKYSCRAPER_3_load, #LEFT_SKYSCRAPER_1_load, #TOP_RIGHT_BOXAD_load, #page_bar, #google_ads_div_LEFT_SPOTLIGHT_1, #ads{
display: none !important;
}

/* beta wikipedia stuff */
#vectorTabs, #p-coll-create_a_book {
dislay: none;
}
