/*------------------------------------*\
  RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE:WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
  background-color: white;
  background-image: none;

}
ol,ul{
  list-style:none;
  margin: 1em 1em 1m 0;
  padding: none;
}
br{
    clear: left;
}
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:'';
  content:none;
}
/* remember to define visible focus styles!
:focus{
  outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

/*------------------------------------*\
  MAIN
\*------------------------------------*/
/* GO! */
/* disapear stuff */
#coordinates, #p-gigyaapplet, #p-sharethis, #p-, #p-navigation, #p-interaction, #p-feedback, #p-search, #donate, #p-lang, #anontip, #anon-banner, #mp-banner, #filetoc, #No_article_title_matches, #msg-noexactmatch,#mp-strapline, #footer, #siteSub, #p-search, #p-navigation, #p-logo, #p-interaction, #p-tb, #p-lang, #p-scholarpedia, #p-encyclopedias, #f-list, #f-poweredbyico, #f-copyrightico, #mw_header, #siteNotice, #mr_banner, #mr_banner_topad, #mr_header, #guides, #background_strip, #wikia_header, #widget_sidebar, #monaco_footer, #LEFT_SKYSCRAPER_2_load, #LEFT_SKYSCRAPER_3_load, #LEFT_SKYSCRAPER_1_load, #TOP_RIGHT_BOXAD_load, #page_bar, #google_ads_div_LEFT_SPOTLIGHT_1, #ads, #mw-panel,  #mw-page-base,#mw-head-base, .portlet h5, .hiddeninputs, .metadata, .centralauth-login-box, .generated-sidebar, .mbox-image, .floatleft, .floatright {
display: none;
}

/* beta wikipedia stuff */
#vectorTabs, #p-coll-create_a_book {
dislay: none;
}
 p {
padding-top: .75em;
}

 p,  p,  blockquote,  ul,  ol,  li{
    font-size: .85em; 
    text-align: justify;
}

#content
{
    display: block;
    border: none;
    padding: none;
    margin: 0 auto;
    background-image: none;
    background-color: transparent;
}

#bodyContent
{
    padding: 2em 0em 2em 0em;
}

#search
{
    text-align: center;
    padding-top: 20px;
}
.title {
    color: #000;
    font-style: normal;
}

.small-print {
    padding-top: 5px;
    color: #333;
    padding-bottom: 30px;
    line-height: 1.5em;
}

.googlenav {
    display: inline;
}
#googlenav {
    text-align: center;
}

body
{
    color: #000;
    background-color: transparent;
    font-size: 13px;
    line-height: 1.5;
}

a:link, a:visited, a:active
{
    text-decoration: none;
    font-style: italic;
}

a:hover, h2 .editsection:hover, .editsection, #ca-nstab-main a:hover, #ca-nstab-special a:hover, #ca-nstab-category a:hover, #ca-nstab-help a:hover, #ca-nstab-user a:hover, #ca-talk a:hover, #ca-history a:hover, #ca-addsection a:hover, #ca-watch a:hover, #ca-viewsource a:hover, #ca-nstab-project a:hover, #pt-login a:hover, #pt-userpage a:hover, #pt-mytalk a:hover, #pt-preferences a:hover, #pt-watchlist a:hover, #pt-mycontris a:hover, #pt-logout a:hover, #pt-betafeedback a:hover, #pt-acaibeta a:hover {
    text-decoration: none;
    color: #000;
    -webkit-transition: color .25s linear;
    transition: color .25s linear;
}

a:active:
{
    color: #000;
}

pre
{
    overflow: auto;
}

code 
{
    display: inline;
    color: #333;
    background-color: transparent;
    font: monospace;
}

p {
    line-height: 1.5;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

/* Paragraph indenting */
p + p, p, .post, br + br {
   text-indent:1em;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}

label{
    text-align: right;
    margin-right: 1em;
}

img{
    vertical-align: middle;
}

.tright{
    clear: right;
    float: right;
    margin: .5em 0 1.3em 1.4em;
}

dl + p, table + p, span + p, div + p, h1 + p, h2 + p, h3 + p, h4 + p, blockquote + p, hr + p, ul + p, ol + p, img + p + p, div { 
text-indent: 0;
}

/* Style guide */
h1, h2, h3, h4, h5, h1 a, h2 a, h3 a
{
    color: #000;
    font-weight: normal;
    text-align: center;
    margin-bottom: .6em;
}


h1
{
    font-size: 2.25em;
}

h2
{
    font-size: 1.75em;
}

h3
{
    font-size: 1.5em;
}

h4
{
font-size: 1.25em;
line-height: 2.5;
}


hr {border: none;
}

blockquote
{
    margin: 1.5em;
    padding: 1.5em;
font-style: italic;
line-height: 1.5;

}

sup,
sub {
    height: 0;
    line-height: 1;
    vertical-align: baseline;
    _vertical-align: bottom;
    position: relative;
    
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

.posted {
text-align: right;
font-style: italic;
margin-top: -.75em;
}



 ul,  ol, .titles, .postul
{
    list-style-type: none;
    margin: none;
}

li + li {
padding-top: .5em;
}

li {
margin-left: 2em;
}

del
{
    color: #999;
}

.pages_nav
{
    clear: both;
}

option, select, input{
    margin-bottom: 1.2em;
}

button{
    float: right;
}
/* WIKIPEDIA specific stuff */

a:active {
color: #000;
}

b, strong { 
color: #000;
}

big, h1, h2, h3, h4, h5 {
background-image: none;
background-color: transparent;
-webkit-background-clip: none;
-webkit-background-origin: none;
font-weight: bold;
color: #000;
border: none;
}

h1 {
font-size: 2.25em;
}

h2 {
font-size: 1.5em;
}

h3 {
font-size: 1.125em;
}

h4 {
    font-size: .875em;
}

li, p, ul, blockquote {
color: #000;
background-color: transparent;
font-size: .9em;
}

ul, ul li {
list-style-image: none;
list-style-type: disc;
list-style-position: outside;
}

table{
color: #000;
border: none;
}

.wikitable, th, tr, td, {
background-color: transparent;
background: transparent;
color: #000;
border-color: none;
broder: none;
padding: 0px;
margin: 0px;
border-collapse: transparent;
}

ol {
list-style-type: decimal;
list-style-position: outside;
}

.selected, pre {
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #eaeaea;
}

sup, .reference {
font-size: 9px;
color: #666;
}

fieldset {
-moz-border-radius: px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #eaeaea;
}

.logotype, a.logotype:link, a.logotype:visited, a.logotype:active {
font-weight: bold;
}

#logotype {
margin-top: 180px;
}

#logotype, #globeLogo, #front_search_bar{
width: 100%;
text-align: center;
}

#frontlogo {
font-size: 15em;
color: #000;
font-weight: bold;
underline: none;
font-style: normal;
padding-bottom: 5px;
}

#searchInput {
width: 30em;
}

#frontsearchbar {
z-index: 10000;
height: 100%;
background-color: transparent;
color: black;
text-align: center;
}

#front-search, #random-article {
display: inline;
}

#globalWrapper {
position: absolute;
left: 0px;
top: 0px;
z-index: 50;
border: none;
margin: 0px;
padding: 0px;
}

#column-one, #column-content {
margin: 0px;
}

#firstHeading {
margin-top: 0px;
margin-left: 0px;
margin-bottom: 0px;
}
#mp-topbanner, #mp-topbanner table, #mp-topbanner tr, #mp-topbanner td, #mp-topbanner th, #mp-topbanner tbody {
background-color: transparent;
}

h2 .edisection, .editsection, .editsection a:link, .editsection a:visited, .editsection a:active {
font-size: 9px;
color: #ddd;
font-weight: normal;
}

.smallcaps {
font-variant: small-caps;
font-size: 70%;
}

.noprint, .plainlinks, .navbar, .relarticle, .mainarticle {
color: #000;
background-color: transparent;
}

#user-ul, .toclevel-1, .toclevel-2, .toclevel-3, .toclevel-4 {
list-style: none;
}
#user-ul li {
    padding: none;
    margin: none;
    display: none;
}

.topicon,#featured-star,  #protected-icon, #protected-icon div, #speak-icon, #spoken-icon, #spoken-icon div {
display : none;
}
#user-ul {
    font-size: smaller;
}
#contentSub, .dablink, .rellink, .relarticle, .mainarticle, .plainlinks, .metadata, .ambox, .ambox-content{
margin: 0;
padding-top: 0;
padding-left: 0;
font-size: 11px;
color: #333;
text-align: center;
text-indent: none;
}

dl {
    margin-bottom: 2em;
}
.dablink + .dablink, dl + p, .dablink + p {
    padding-top: 0;
    padding-bottom: 0;
    text-indent: none;
}


.printfooter {
padding-top: 10px;
}

#edit-ul {
position: relative;
float: right;
margin: 0px;
}

#p-cactcions, #ca-nstab-citations, #ca-nstab-citations a, #ca-move, #ca-move a, #ca-nstab-portal, #ca-nstab-portal a, #ca-nstab-main, #ca-nstab-main a, #ca-nstab-special, #ca-nstab-special a, #ca-nstab-category, #ca-nstab-category a, #ca-nstab-help, #ca-nstab-help a, #ca-nstab-user, #ca-nstab-user a, #ca-talk, #ca-talk a, #ca-edit, #ca-history, #ca-history a, #ca-addsection, #ca-addsection a, #ca-watch, #ca-watch a, #ca-viewsource, #ca-viewsource a, #ca-nstab-project, #ca-nstab-project a, #ca-nstab-image, #ca-nstab-image a{
font-size: smaller;
z-index: 1500;
color: #ddd;
border: none;
text-align: left;
margin: 0px;
position: relative;
background-color: transparent;
font-weight: normal;
padding-top: 0px;
}

#p-cactions li a, #p-cactions li.selected, #content div.thumb {
background-color: transparent;
}

#p-cactions {
left: transparent;
top: 55px;
right: 5px;
}

.portlet {
padding: 0px;
margin: 0px;
}

.reflist, .references, .references-column-width {
    column-width: 100%;
    -webkit-column-width: 100%;
}

#p-personal {
position: fixed;
top: 0px;
right: 2em;
font-size: smaller;
z-index: 1500;
display: none;
}

#pt-login, #pt-login a {
font-size: smaller;
color: #ddd;
position: relative;
float: right;
margin-right: 10px;

}

#pt-userpage a:link, #pt-mytalk a:link, #pt-preferences a:link, #pt-watchlist a:link, #pt-mycontris a:link, #pt-logout a:link {
color: #ddd;
list-style: none;
}
/* wikipedia beta */
#pt-betafeedback a:link, #pt-acaibeta a:link {
color #ddd;
}

.pBody {
padding-right: 20px;
}
.pBody {
}
#p-personal li{
background-image: none;
}

#preftoc li {
border-right: none;
list-style-type: none;
background-color: transparent;
}

#toc {
    display: none;
}

.navbox, .navbox-subgroup, .thumbinner, .toccolours,table.navbox th,.navbox-title,.navbox-subgroup .navbox-title,.navbox-abovebelow, .navbox-group, .nowraplinks, .collapsible, .autocollapse, #catlinks, .printfooter, .ambox, .ambox-content, .infobox, .geography, .vcard, .mbox-text {
color: #000;
border: none;
background-color: transparent;
background: none;
}


div.tright, div.tleft, .thumb, .tleft, .tleft, .tright, .tright {
    margin: .75em .75em .75em .75em;
}

tr, th, td, tbody, .toclevel-1, .toclevel-2, .toclevel-3 {
border-collapse: transparent;
margin: 0px;
background-color: transparent;
}

.toc:link, #toc:link, th:link, td:link, tbody:link {
    border: none !imporant;
}

.infobox p, .infobox th, .infobox td, .infobox, .thumbcaption, .caption {
font-size: .85em;
text-align: center;
}


.wikitable, .prettytable {
margin: 0px 0px 0px 0px;
color: #000;
}

td table {
width: auto;
background-color: transparent;
}

#p-search { 
display: block;
position: absolute;
top: 20px;
right: 10px;
visibility: visible;
z-index: 1000;
background-color: transparent;
height: 500px;
color: #000;
}

#langJump{
z-index: 100; 
position: fixed; 
top: 5em; 
right: 2.2em;
display: none;
}

#status{
    height: 2em;
    display: block;
    text-align: right;
}
#status p, #status em{
    margin: 0px;
    padding: 0px;
}

#floatingsearch{
    position: fixed;
border: none;
top: 0;
right: 2em;
z-index: 99;
}

#mp-upper, #mp-upper table, #mp-upper td, #mp-upper tr, #mp-upper th, #mp-upper tbody {
z-index: 0;
margin-top: 100px;
background-color: transparent;
border: none;
}

#mp-newhead {
margin-top: 10px;
margin-bottom: 0.1em;
line-height: 2.0em;
}

#mpheader {
z-index: 100;
width: 500px;
height: 100px;
}

.mp-header {
font-weight: normal;
font-size: 200%; 
}

tbody, .MainPageBG, #mp-left, #mp-tfa-h2, #mp-tfa, #mp-dyk-h2, #mp-dyk, #mp-right, #mp-itn-h2, mp-itn, #mp-otd-h2, #mp-otd, #mp-tfp, #mp-tfp-h2, #mp-other, #mp-sister, #mp-lang, #jump-to-nav, #mp-strapline, #mp-banner, #mp-upper {
background-image: none;
background-color: transparent;
color: #000;
border: none;
}

#mp-left, #mp-right {
margin-top: 80px;
}

#mp-upper img, #mp-tfa img, #mp-left img, #mp-right img {
color: #000;
border: none;
padding: 10px;
margin: 10px;
}

#mp-upper img:hover, #mp-tfa img:hover, #mp-left img:hover, #mp-right img:hover {
background-color: transparent;
border: none;
}

#mp-tfp-h2, .mw-headline{
color: #000;
background-color: transparent; 
font-weight: bold; 
}

.mp-left .image { 
border: 1px solid #f00;
}

.MainPageBG, .MainPageBG tbody, .MainPageBG table, .MainPageBG td, .MainPageBG tr, .MainPageBG th {
background-color: transparent;
color: #000;
border: none;
}


.mergedrow, .floatnone, #searchBody {
border: none;
text-align: left;
}

h5#p-search {
display: inline;
}


#artikelstadium {
position: absolute;
left: 30px;
top: 60px;
background-color: transparent;
width: 15px;
display: inline;
}

#jump-to-nav, .editsection, #edit-ul, .internal, .magnifay, #p-views, #p-namespaces,#left-navigation,  #mw-panel,  #mw-page-base,#mw-head-base, .portlet h5, .hiddeninputs, .metadata, .centralauth-login-box, .generated-sidebar, .mbox-image, .floatleft, .floatright {
display: none;
}

#coordinates, #p-gigyaapplet, #p-sharethis, #p-, #p-navigation, #p-interaction, #p-feedback, #p-search, #donate, #p-lang, #anontip, #anon-banner, #mp-banner, #filetoc, #No_article_title_matches, #msg-noexactmatch,#mp-strapline, #footer, #siteSub, #p-search, #p-navigation, #p-logo, #p-interaction, #p-coll-print_export, #p-tb, #p-lang, #p-scholarpedia, #p-encyclopedias, #f-list, #f-poweredbyico, #f-copyrightico, #mw_header, #siteNotice, #mr_banner, #mr_banner_topad, #mr_header, #guides, #background_strip, #wikia_header, #widget_sidebar, #monaco_footer, #LEFT_SKYSCRAPER_2_load, #LEFT_SKYSCRAPER_3_load, #LEFT_SKYSCRAPER_1_load, #TOP_RIGHT_BOXAD_load, #page_bar, #google_ads_div_LEFT_SPOTLIGHT_1, #ads{
display: none;
}

/* beta wikipedia stuff */
#vectorTabs, #p-coll-create_a_book {
dislay: none;
}

.color {
    width: 25px;
    height: 25px;
    background-color: inherit;
    color: inherit;
}
