/*------------------------------------*\
	RESET
\*------------------------------------*/
/* heavily based on http://meyerweb.com/eric/tools/css/reset/ */ 

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
	display:block;
}

/* much love to webtypography.net */

body{
	line-height:1.5;
    font-size: 13px;
	
}

ol,ul{
    text-align: left;
	list-style: disc;
	margin: 1em 1em 1em 0;
}

b {
    font-weight: bold;
}
i, em {
    font-style: italic;
}

br{
	clear: left;
}
blockquote,q{
	quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
	content:'';
	content:none;
}

/* remember to highlight inserts somehow! */
ins{
	text-decoration:none;
}
del{
	text-decoration:line-through;
}

table{
	border-collapse:collapse;
	border-spacing:0;
}

th, td {
    padding: .25em;
    text-align: left;
}
th, {
    text-decoration: underline;
}

br{
	clear: left;
}
blockquote,q{
	quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
	content:'';
	content:none;
}

abbr {
    letter-spacing:0.1em
    text-transform: lowercase;
    font-variant: small-caps;
    font-style: normal;
}

/* remember to define visible focus styles!
:focus{
	outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
	text-decoration:none;
}
del{
	text-decoration:line-through;
}

table{
	border-collapse:collapse;
	border-spacing:0;
}

/* Basics */
p,	p,	blockquote,	ul,	ol,	li{
	text-align: left;
    -webkit-hyphens: auto;
}

p {
    line-height: 1.5;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

/* Paragraph indenting */
p + p, p, .post, br + br {
    text-indent: 1.5em;
    margin: 0;
}

dd {
    margin-left: 2em;
    line-height: 1.5;
}
dt {
    font-weight: bold;
}

dl + p, table + p, span + p, div + p, h1 + p, h2 + p, h3 + p, h4 + p, blockquote + p, hr + p, ul + p, ol + p, img + p + p, div {
text-indent: 0;
}

label{
    float: left;
    clear: left;
    width: 200px;
    text-align: right;
    margin-right: .5em;
}

img{
    vertical-align: middle;
}

.thumbcaption {
    font-size: .85em;
}

.tleft {
    float: left;
    margin: 1.5em 1.5em 0 1.5em;
}

.tright {
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
}

a:link, a:visited, a:active, a:hover,
a:-webkit-any-link {
    text-decoration: none;
    font-style: italic;
}

a:active:
{
    color: #000;
}

pre
{
    overflow: auto;
}

hr {border: none;
}

blockquote, dl
{
    margin: 1.25em;
    font-style: italic;
    line-height: 1.5;
}

sup, sub {
    height: 0;
    line-height: 1;
    vertical-align: baseline;
    position: relative;
    font-size: .7em;
}

sup {
    bottom: 2ex;
}

sub {
    top: 2ex;
}

code
{
    display: inline;
    font: monospace;
}

h1, h2, h3, h4, h5, h1 a, h2 a, h3 a
{
    font-weight: bolder;
    text-align: center;
    line-height: 2;
}

h1 {
font-size: 2.25em;
}

h2 {
font-size: 1.5em;
}

h3 {
font-size: 1.125em;
}

h4 {
    font-size: .875em;
}

/* layout */
#content {
    width: 500px;
    margin: 0 auto;
}

.infobox {
    float: right;
    width: 300px;
    margin: 0 0 1.5em 1.5em;
}

.infobox, .infobox p, .infobox th, .infobox td, .infobox, .thumbcaption, .caption {
font-size: .85em;
text-align: center;
}

#contentSub, .dablink, .rellink, .relarticle, .mainarticle, .plainlinks, .metadata, .ambox, .ambox-content, .mbox-text{
    font-size: .8em;
    float: clear;
    text-align: center;
    text-indent: none;
}

a.editsection, h2 .edisection, .editsection, .editsection a:link, .editsection a:visited, .editsection a:active {
    display: none;
    float: right;
    text-size: .8em;
}

/* dynamic elements */
#toc {
    display: none;
}

#floatingsearch {
    display: none;
}

/* options */
#link_color, #unwritten_color, #stub_color, #text_color, #headings_color, #bg_color, #hover_color, #active_color, #visited_color {
    width: 125px;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
}

#status{
    height: 2em;
    display: block;
    text-align: right;
}
#status p, #status em{ 
    margin: 0px;
    padding: 0px;
}

#cancel, #save {
    float: right;
}

#restore_defaults {
    float: left;
}

/* http://wikipedia.org/ only */

#NewFront {
width: 100%;
height: 100%;
}

#globelogo, #frontlogo {
margin-top: 1em;
font-size: 8em;
line-height: 1em;
color: #000;
font-weight: bold;
underline: none;
font-style: normal;
padding-bottom: 5px;
text-align: center;
}

#frontsearchInput {
width: 60%;
}

#front_search_bar, #front_search_bar form {
z-index: 10000;
height: 100%;
background-color: transparent;
color: black;
text-align: center;
display: inline;
}

#searchform, #random-article {
display: inline;
text-align: center;
}
